.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.5rem;
  border-radius: 8px;
}

.bi {
  font-size: large;
}

.time-slot-picker {
  display: flex;
  flex-wrap: wrap;
}

.time-slot-btn {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.time-slot-btn:hover {
  background-color: #0056b3;
}

.time-slot-btn.selected {
  background-color: #28a745;
  color: white;
  font-weight: bold;
}